<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>About Us</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

	<style type="text/css">
		.intro-section {
			color: black;
			text-align: center;
			padding: 100px 20px;
		}
	</style>

</head>

<body>

	<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
		<a class="navbar-brand me-5" th:href="@{/}">Ecommerce App </a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item me-5">
					<a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
				</li>
				<li class="nav-item me-5">
					<a class="nav-link" th:href="@{/aboutUs}">About Us</a>
				</li>
				<li class="nav-item me-5">
					<a class="nav-link" th:href="@{/products}">Product</a>
				</li>
				<li class="nav-item me-5">
					<a class="nav-link" th:href="@{/contactUs}">Contact Us</a>
				</li>


			</ul>
			<form class="d-flex" role="search">
				<a th:href="@{/login}" class="btn btn-success" type="submit">Login</a>
			</form>
		</div>
		</div>
	</nav>

	<!--intro-->
	<section class="intro-section bg-primary-subtle">
		<div class="container">
			<h1>Welcome to QuickBuy website</h1>
			<p class="lead">Here shopping meets convenience and innovation! Explore a wide range of products, manage your account effortlessly, and enjoy seamless ordering and purchasing experiences tailored to your needs.

			</p>
		</div>
	</section>

	<!--about us-->
	<section class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>About Us</h1>
					<p class="lead">
						We are committed to revolutionizing online shopping by offering an intuitive and secure platform for both users and administrators. Our goal is to provide high-quality products,
						exceptional service, and a user-friendly interface that ensures satisfaction at every step.

					</p>
				</div>
				<div class="col-lg-6" text-center>
					<i class="bi bi-buildings-fill" style="font-size:150px;"></i>
				</div>
			</div>
		</div>
	</section>

	<!--team members-->
	<section class="bg-light py-5">
		<div class="container">
			<div class="row">
				<div class="col-md-4 text-center">
					<i class="bi bi-file-person-fill" style="font-size: 150px;"></i>
					<h4>John</h4>
					<p>CEO</p>
				</div>
				<div class="col-md-4 text-center">
					<i class="bi bi-file-person-fill" style="font-size: 150px;"></i>
					<h4>Joseph</h4>
					<p>CTO</p>
				</div>
				<div class="col-md-4 text-center">
					<i class="bi bi-file-person-fill" style="font-size: 150px;"></i>
					<h4>Elena</h4>
					<p>COO</p>
				</div>

			</div>
		</div>
	</section>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"> </script>

</body>

</html>